.layout {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-design {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 214, 227, 254, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-me-card {
    height: 60%;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
  }
  