<div class="layout">
  <div>
    
  </div>
  <div class="card-design">

  </div>

  <p  style="margin: -28px;">

    <mat-button-toggle-group [(ngModel)] = "chosenLink"  >
      @for(item of toggleButtonArray;track item.value) {
        <!-- {{chosenLink}} -->
       <mat-button-toggle [ngStyle]="{'background-color':item.value== chosenLink ?'#DAE2F9':'white'}" class = "toggle-button-cards" style="width: 12rem;" [value]="item.value">{{item.title}}</mat-button-toggle>
      }
      <!-- <mat-button-toggle class = "toggle-button-cards" style="width:12rem;" value="project">Project</mat-button-toggle>
      <mat-button-toggle class = "toggle-button-cards" style="width:12rem;" value="about">About</mat-button-toggle>
      <mat-button-toggle class = "toggle-button-cards" style="width: 12rem;" value="contact">Contact</mat-button-toggle> -->
    </mat-button-toggle-group> 
  </p>
</div>
