.layout {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-design {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 214, 227, 254, 0.8 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 2px );
-webkit-backdrop-filter: blur( 2px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

toggle-button-cards.mat-button-toogle {
    background-color: white!important;
}