.layout {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card-design {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba( 214, 227, 254, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2px );
    -webkit-backdrop-filter: blur( 2px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.contact-me-card {
    padding: 0.5rem; 
    width:50%;
    display: flex;
    align-items: center;
    justify-content:start;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
:host ::ng-deep .mdc-text-field--outlined {
    --mdc-outlined-text-field-container-shape: 28px;
  }

.icons {
    color: #015CBA;
    font-size:100px; 
    margin-top: 3rem;
}

.socials-container .social-heading {
    width:5rem;
    font-size: 4rem;
    display: flex;
    align-items: center;
    color:#015CBA ;
}

.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 45rem;
    row-gap: 2rem;
    cursor: pointer;
}

.icons :hover {
    transform: scale(1.2);
}